.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.child {
    border: 1px solid green;
    border-radius: 10px;
    margin: 2px;
    padding: 6px;
    word-wrap: break-word;
    width: 30rem;
}